header {
  align-items: center;
  background-color: #eeeeee;
  box-sizing: border-box;
  display: flex;
  padding: 10px 16px;
  height: 59px;
  // justify-content: flex-end;
  width: 100%;

  .info-left {
    flex-grow: 1;
  }

  .info-right {
    flex: none;
  }
}

.wrapper-img-profile {
  border-radius: 50%;
  height: 40px;
  position: relative;
  overflow: hidden;
  width: 40px;
  cursor: pointer;

  .img-profile {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: opacity 150ms ease-out;
  }

  .default-user {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.wrapper-icons {
  align-items: center;
  display: flex;
  cursor: pointer;

  .icon {
    border-radius: 50%;
    padding: 8px;
    margin-left: 10px;

    &:first-child {
      margin-left: 0;
    }
  
    i {
      cursor: pointer;
    }
  }
}
