// body {
//   font-family: 'Roboto', sans-serif;
// }

body {
	background-color: #dfdfdf;
  background-image: linear-gradient(to bottom, #dddbd1, #d2dbdc);
  font-family: "Segoe UI", "Helvetica Neue", Helvetica, "Lucida Grande";

}

html, body, #app {
	height: 100%;
	width: 100%;
	overflow: hidden;
	padding: 0;
	margin: 0;
}
